# Week 1 Problem Set

# grade 87

Each week you will have a problem set due on Sunday night before midnight.
You will download a template Jupyter notebook file (like this one) and complete all of your work in the file then save it with your last name in the following format:
lastname_week1.ipynb for example I would submit Zematis_week1.ipynb

1. Create the variables x = 5 and y = 3, then determine what each of the following statements displays:
> print('x =', x)
>
> print('Value of', x, '+', x, 'is', (x + x))
>
> print('x =')
>
> print((x + y), 'x =', (y + x))

In [ ]:
# Code for Problem 1
x = 5
y = 3

In [ ]:
print('x =', x)
# x = 5
print('Value of', x, '+', x, 'is', (x + x))
# Value of 5 + 5 is 10
print('x =')
# x =
print((x + y), 'x =', (y + x))
# 8 x = 8

2. For each of the arithmetic operators +, -, *, /, // and **, display the value of an expression with 27.5 as the left operand and 2 as the right operand.

In [ ]:
# Code for Problem 2
print(27.5 + 2)
print(27.5 - 2)
print(27.5 * 2)
print(27.5 / 2)
print(27.5 // 2)
print(27.5 ** 2)

3. (Table of Squares and Cubes) Write a script that calculates the squares and cubes of the numbers from 0 to 5. Print the resulting values in table format, as shown below. Use the tab escape sequence to achieve the three-column output.
(See figure 1.1)

In [6]:
# Code for Problem 3
for num in [0,1,2,3,4,5]:
    print(num,"squared is",num**2)
    print(num, "cubed is",num**3)
    
## you should print a table format but not list  grade:-3
## table format:
## number  square   cube
##   0        0       0
##   1        1       1
##   2        4       6

0 squared is 0
0 cubed is 0
1 squared is 1
1 cubed is 1
2 squared is 4
2 cubed is 8
3 squared is 9
3 cubed is 27
4 squared is 16
4 cubed is 64
5 squared is 25
5 cubed is 125

4. The S&P 500 average return over the past 30 years has been 9.4%. Assuming that you begin with \$1000 and leave your money invested, calculate and display how much money you’ll have after 10, 20 and 30 years. Use the following formula for determining these amounts:
> a = p(1 + r)n where,
>
> p is the original amount invested (i.e., the principal of $1000),
>
> r is the annual rate of return (9.4%),
>
> n is the number of years (10, 20 or 30) and
>
> a is the amount on deposit at the end of the nth year.

In [7]:
# Code for Problem 4
p=1000
r=.094

for n in [10,20,30]:
    a=p*(1+r)**n
    a=round(a,2)
    print("$",a,"is the money you have after", n, "years")

$ 2455.69 is the money you have after 10 years
$ 6030.4 is the money you have after 20 years
$ 14808.79 is the money you have after 30 years

5. Modify the code in Problem 4 above to ask the user for input for the values p, r, and n rather than ‘hard coding’ the values.

In [8]:
# Code for Problem 5
p = float(input("Enter the prinicple: "))
r = float(input("Enter the rate of return as a decimal: "))
y1 = int(input("Enter a year one: "))
y2 = int(input("Enter a year two: "))
y3 = int(input("Enter a year three: "))

for n in [y1,y2,y3]:
    a=p*(1+r)**n
    a=round(a,2)
    print("$",a,"is the money you have after", n, "years")

Enter the prinicple:  1000
Enter the rate of return as a decimal:  0.05
Enter a year one:  19
Enter a year two:  11
Enter a year three:  13

$ 2526.95 is the money you have after 19 years
$ 1710.34 is the money you have after 11 years
$ 1885.65 is the money you have after 13 years

6. Using code similar to Fig. 3.2 in the textbook, write a script that will let users input grades between 0-100 and evaluate the grade based on a A, B, C, D, F grade scale. Use sentinel-controlled Iteration to stop the process.

In [2]:
#### Code for Problem 6
ng= int(input("Enter the number of grades: "))
count=0
while count<ng:
    count=count+1
    grade = int(input("Enter a grade: "))
    if grade >= 90:
        print('A')
    elif grade >= 80:
        print('B')
    elif grade >= 70:
        print('C')
    elif grade >= 60:
        print('D')
    else:
        print('F')
        
## you should consider the situation when grade is larger than 100 or less than zero.
## you should use sentinel-controlled Iteration to stop the process.
## grade -5

Enter the number of grades:  4
Enter a grade:  43

F

Enter a grade:  90

A

Enter a grade:  80

B

Enter a grade:  100

A

7. Modify the code in Problem 5 to use a loop that calculates and displays the amount of money you will have for each year in years 1 through 30.

In [44]:
# Code for Problem 7
p = float(input("Enter the prinicple: "))
r = float(input("Enter the rate of return as a decimal: "))

for n in range(0,31):
    a=p*(1+r)**n
    a=round(a,2)
    print("$",a,"is the money you have after", n, "years")

Enter the prinicple:  1000
Enter the rate of return as a decimal:  .1

$ 1000.0 is the money you have after 0 years
$ 1100.0 is the money you have after 1 years
$ 1210.0 is the money you have after 2 years
$ 1331.0 is the money you have after 3 years
$ 1464.1 is the money you have after 4 years
$ 1610.51 is the money you have after 5 years
$ 1771.56 is the money you have after 6 years
$ 1948.72 is the money you have after 7 years
$ 2143.59 is the money you have after 8 years
$ 2357.95 is the money you have after 9 years
$ 2593.74 is the money you have after 10 years
$ 2853.12 is the money you have after 11 years
$ 3138.43 is the money you have after 12 years
$ 3452.27 is the money you have after 13 years
$ 3797.5 is the money you have after 14 years
$ 4177.25 is the money you have after 15 years
$ 4594.97 is the money you have after 16 years
$ 5054.47 is the money you have after 17 years
$ 5559.92 is the money you have after 18 years
$ 6115.91 is the money you have after 19 years
$ 6727.5 is the money you have after 20 years
$ 7400.25 is the money you have after 21 years
$ 8140.27 is the money you have after 22 years
$ 8954.3 is the money you have after 23 years
$ 9849.73 is the money you have after 24 years
$ 10834.71 is the money you have after 25 years
$ 11918.18 is the money you have after 26 years
$ 13109.99 is the money you have after 27 years
$ 14420.99 is the money you have after 28 years
$ 15863.09 is the money you have after 29 years
$ 17449.4 is the money you have after 30 years

8. Create the following list:
> a = [1, 2, 3, 4, 55, 77, 4, 5, 6, 7, 77, 88, 100]

Write a script with a loop which determines the largest two values in the list.

In [11]:
# Code for Problem 8
a = [1, 2, 3, 4, 55, 77, 4, 5, 6, 7, 77, 88, 100]
print("the biggest values are:")
for n in range(0,2):
    highest=max(a)
    print(highest)
    del(a[-1])

the biggest values are:
100
88